APP_NAME=ai-chatbot-gateway
APP_PORT=3000

DB_HOST=db
DB_PORT=27017

DB_DATABASE=ai-chatbot-gateway-db
DB_USERNAME=root
DB_PASSWORD=root

DB_URI=mongodb://db:27017/ai-chatbot-db?authSource=admin

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BASE_URL=http://localhost:3000
CHAT_URL=http://localhost:50051
HUGGINGFACEHUB_API_TOKEN=

GRPC_PORT="50051"
GRPC_DOMAIN="0.0.0.0"

QDRANT_DB_HOST="localhost"
QDRANT_DB_PORT=6333

PYTHONOPTIMIZE=1

WEB_PORT=3030
